/* default styles */

*, *:before, *:after {box-sizing: border-box; }
img { max-width: 100%; }
body{width: 100%, font-size: 100%; }
/*my styles*/
.container
{
	display: flex;
	flex-direction: row;
	border: 2px solid black;
	padding: 25px;
	margin: 10%;
	width: 80%;
	height: 65%;
	box-shadow: 40px 40px 100px black;
	background-color: rgb(188,198,204);
}
.displayScreen
{
	border: 2px solid black;
	box-shadow: inset 5px 5px 60px grey;
	padding: 10px;
	width: 100%;
	background-color: black;
	margin-right: 8%;
}
.handle{
	float:right;
	margin-top: 15px;
	width:5%;
	height: 85%;
	border: 2px solid white;
	border-radius: 80%;
	box-shadow: 2px 2px 5px rgb(188,198,204);
}
.microwaveControlPanel
{
 width: 50%;
 height: 100%;
}
.microwaveControlPanel input
{
	height:10%;
	margin-bottom:5px;
	border-radius: 85%;
	width:95%;
	box-shadow: inset 5px 5px 30px green;
	text-align: center;
}
.microwaveControlPanel button:hover
{
	background-color: rgb(204, 255, 153);
}
.buttons1to9 button
{	
	padding: 4%;
	border-radius: 50%;
	width: 26%;
	height: 13%;
	margin:3% 1% 3% 4%;
}
.otherButtons button
{
	border-radius: 85%;
    padding:1%;
	width:46%;
	height: 13%;
	margin:1%;
}
#microwave{
    padding:50px;
	text-align: center;
	position: absolute;
	top:40%;
	left:35%;
}







