* {
  margin: 0px auto;
  padding: 0px;
  text-align: center;
  font-weight: 5000;
}
.calculator_container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(http://wallpapercave.com/wp/f2nbsPJ.jpg);
}

.calculator {
  position: absolute;  
  width: 300px;
  height: 450px;
  background-color: white;
  top: 50%; 
  left: 50%;
  margin-top: -200px;
  margin-left: -150px;
  transition: all 0.5s;
  //border-radius: 10px;
  transition-delay: 0.5s;
}

.topbar {
  position: relative;
  float: left;
  width: 100%;
  height: 20px;
}

.screen {
  position: relative;
  float: left;
  width: 100%;
  height: 150px;
  background: white;
  transition-delay: 0.5s;
}

.button_row {
  position: relative;
  width: 100%;
  float: left;
}

.buttons {
  position: relative;
  width: 100%;
  float: left;
}

.buttons > button {
  position: relative;
  width: 25%;
  float: left;
  list-style: none;
  margin-top: 5px;

}

.buttons > button > a {
  text-decoration:none;
  color:#000;
  font-family: Arial;
  display: block;
  border-radius: 5px;
  font-size: 1em;
  padding: 0px 5px;
  padding-top: 10px; 
  width: 34px;
  height: 30px;
  transition: all 0.5s;
  transform: translate(0px,-5px);
  opacity: 0;
  //border: 1px black solid;
}
.buttons > button > a:hover {
  background-color: rgba(110, 202, 199, 0.31);
}
  .list_btns_1 > button > a {
  color: #000;
}

.dark_buttons > button:first-child > a,.dark_buttons > button:last-child > a {
  color: #000;
}

.result {  
  background-color: transparent;
  width: 90%;
  height: 70px;
  font-size: 40px;
  color: #000;
  border: none;
  margin-top: 70px;
  text-align:right;
  padding-right: 2%;
  outline: none;
  transition-delay: 0.5s;
}

.calculator_active2  > .button_container > .button_row > .buttons > button:nth-child(1) > a   {
transform: translate(0px,0px);
opacity: 1;  
transition-delay: 0.5s;
}

.calculator_active2  > .button_container > .button_row> .buttons > button:nth-child(2) > a  {
transform: translate(0px,0px);
opacity: 1;  
transition-delay: 0.7s;
}

.calculator_active2  > .button_container > .button_row > .buttons > button:nth-child(3) > a  {
transform: translate(0px,0px);
opacity: 1;  
transition-delay: 1s;
}

.calculator_active2  > .button_container > .button_row > .buttons > button:nth-child(4) > a  {
transform: translate(0px,0px);
opacity: 1;  
transition-delay: 1.3s;
  
}

.calculator_active2  > .button_container > .button_row > .buttons > button:nth-child(5) > a {
  transform: translate(0px,0px);
opacity: 1;  
transition-delay: 1.5s;
}

.calculator_active1 {
  box-shadow: 0px 0px  50px black;
  border: 1px black;
  //border-style: ridge;
  transition-delay: 0.5s;

}

.calculator_active3  > .button_container > .button_row > .buttons > button >a {
  transition:all 0.5s !!important;
  transition-delay: 0s !important ;
}

.calculator_active3  > .screen > input {
 
}

button {
  border: none;
  background-color: white;
}
